@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /*Typography*/
    --font-sans: "Onest Variable", sans-serif;

    /*Colors*/
    --color-primary: var(--color-primary-value);
    --color-accent: var(--color-accent-value);
    --color-surface: var(--color-surface-value);
    --color-surface-alt: var(--color-surface-alt-value);
    --color-text: var(--color-text-value);
    --color-muted: var(--color-muted-value);

    /* Spacing */
    --spacing-section: 5rem;

    /* Border radius */
    --radius-card: 1rem;
}

:root {
    color-scheme: light;

    --color-primary-value: #6366f1;
    --color-accent-value: #f59e0b;
    --color-surface-value: #ffffff;
    --color-surface-alt-value: #f1f5f9;
    /* --color-text-value: #0f172a; */
    --color-text-value: #0a0a0a;
    /* --color-muted-value: #64748b; */
    --color-muted-value: #262626;
}

:root.dark {
    --color-primary-value: #818cf8;
    --color-accent-value: #fbbf24;
    /* --color-surface-value: #0f172a; */
    --color-surface-value: #171717;
    --color-surface-alt-value: #1e293b;
    /* --color-text-value: #f1f5f9; */
    --color-text-value: #ffffff;
    /* --color-muted-value: #94a3b8; */
    --color-muted-value: #e5e5e5;
}

html {
    font-family: var(--font-sans);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}