@import "tailwindcss";

:root {
  color-scheme: light dark;
}

@theme {
  --font-sans: "Onest Variable", sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  background-color: #050505;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
