---
import Layout from "@layouts/Layout.astro";

import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
import Services from "@/components/Services.astro";
import Portfolio from "@/components/Portfolio.astro";
import Experience from "@/components/Experience.astro";

import { Icon } from "astro-icon/components";
---

<Layout
  title="Jonnathan Espinoza's Portfolio - Web Developer and Programmer"
  description="Hire Jonnathan Espinoza, a web developer with over 3 years of experience in creating unique and custom applications. Skilled in HTML, CSS, JavaScript and modern frameworks. Jonnathan is ready to take your project to the next level."
  image="https://m.media-amazon.com/images/I/51rayl0HnRL.jpg"
>
  <main>
    <Hero />
    <About />
    <Services />
    <Portfolio />
  </main>
</Layout>
