---
import { Picture } from "astro:assets";

import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";

import ProfileImg from "@assets/images/luffy_gear_5.jpeg";
import CodeIconImg from "@assets/images/code-icon.png";
import EduIconImg from "@assets/images/edu-icon.png";
import ProjectIconImg from "@assets/images/project-icon.png";
---

<SectionContainer id="about-me">
  <TitleSection title="About me" subtitle="Introduction" />
  <div class="flex w-full flex-col lg:flex-row items-center gap-20 my-20">
    <div class="max-w-max mx-auto relative">
      <Picture
        src={ProfileImg}
        alt="Profile Jonnathan Espinoza"
        quality="high"
        formats={["webp", "jpg"]}
        class="w-64 sm:w-80 rounded-3xl max-w-none"
      />
      <!-- <div
          class="bg-white w-1/2 aspect-square absolute right-0 bottom-0 rounded-full translate-x-1/4 translate-y-1/3 shadow-[0_4px_55px_rgba(149,0,162,0.15)] flex items-center justify-center"
        >
          <img src="/images/circular-text.png" alt="" class="w-full" />
          <img
            src="/images/dev-icon.png"
            alt=""
            class="w-1/4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          />
        </div> -->
    </div>
    <div class="flex-1">
      <p class="mb-10 max-w-2xl">
        I am a web developer with experience in end-to-end application
        development, covering both back-end and front-end, databases and server
        administration. I am passionate about programming and I am self-taught,
        with an analytical approach to understand customer requirements and
        deliver efficient and scalable solutions. My professional goal is to
        become a Software Architect, applying the best practices of web
        development and providing a high quality service.
      </p>
      <ul class="grid grid-cols-1 sm:grid-cols-3 gap-6 max-w-2xl">
        <li
          class="border-[0.5px] border-gray-400 rounded-xl p-6 cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500 hover:shadow-[4px_4px_0px_#000]"
        >
          <Picture
            src={CodeIconImg}
            alt="code icon"
            quality="low"
            formats={["webp", "jpg"]}
            class="w-7 mt-3"
          />
          <h3 class="my-4 font-semibold text-gray-700">Languages</h3>
          <p class="text-gray-600 text-sm">
            JavaScript, TypeScript, Python, HTML, CSS, SQL
          </p>
        </li>
        <li
          class="border-[0.5px] border-gray-400 rounded-xl p-6 cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500 hover:shadow-[4px_4px_0px_#000]"
        >
          <Picture
            src={EduIconImg}
            alt="Education icon"
            quality="low"
            formats={["webp", "jpg"]}
            class="w-7 mt-3"
          />
          <h3 class="my-4 font-semibold text-gray-700">Education</h3>
          <p class="text-gray-600 text-sm">
            Systems Engineer from the National University of Loja
          </p>
        </li>
        <li
          class="border-[0.5px] border-gray-400 rounded-xl p-6 cursor-pointer hover:bg-[#fcf4ff] hover:-translate-y-1 duration-500 hover:shadow-[4px_4px_0px_#000]"
        >
          <Picture
            src={ProjectIconImg}
            alt="Project icon"
            quality="low"
            formats={["webp", "jpg"]}
            class="w-7 mt-3"
          />
          <h3 class="my-4 font-semibold text-gray-700">Projects</h3>
          <p class="text-gray-600 text-sm">Built more than 5 projects</p>
        </li>
      </ul>
      <h4 class="my-6 text-gray-700">Tools i use</h4>
      <ul class="flex items-center gap-3 sm:gap-5">
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/vscode.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/firebase.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/mongodb.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/figma.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/git.png" alt="" class="w-5 sm:w-7" />
        </li>
      </ul>
    </div>
  </div>
</SectionContainer>
