---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";

import ProfileImg from "@assets/images/luffy_gear_5.jpeg";
import CodeIconImg from "@assets/images/code-icon.png";
import EduIconImg from "@assets/images/edu-icon.png";
import ProjectIconImg from "@assets/images/project-icon.png";
---

<SectionContainer id="about-me">
  <TitleSection title="Sobre mí" />
  <div class="flex w-full flex-col lg:flex-row items-center gap-20 my-10">
    <div class="max-w-max mx-auto relative">
      <Picture
        src={ProfileImg}
        alt="Profile Jonnathan Espinoza"
        quality="high"
        formats={["webp", "jpg"]}
        class="w-64 sm:w-80 rounded-3xl max-w-none"
      />
    </div>
    <div class="flex-1">
      <p class="mb-3 max-w-2xl">
        ¡Hola! Soy Jonnathan Espinoza, desarrollador web ecuatoriano con una
        gran pasión por el software. Mi historia en este mundo comenzó por pura
        curiosidad: me encantaban los videojuegos y no podía dejar de
        preguntarme... ¿cómo se hace uno?
      </p>
      <p class="mb-3 max-w-2xl">
        Esa chispa inicial me llevó a estudiar Ingeniería en Sistemas en la
        Universidad Nacional de Loja, donde descubrí que lo mío no solo era
        jugar, sino construir. Desde entonces, me he enfocado en el desarrollo
        de aplicaciones web completas: desde el backend y bases de datos, hasta
        la interfaz de usuario y la administración de servidores.
      </p>
      <p class="mb-3 max-w-2xl">
        Mi objetivo profesional es claro: convertirme en Arquitecto de Software
        y diseñar soluciones que sean tan eficientes como elegantes. Disfruto
        aprender por mi cuenta, experimentar con nuevas tecnologías y buscar
        siempre el “¿cómo podría hacerlo mejor?”.
      </p>
      <p class="mb-10 max-w-2xl">
        Fuera del teclado, me relajo tocando la guitarra 🎸 y —sí, lo
        adivinaste— estoy trabajando en mi propio videojuego indie 🎮.
      </p>

      <ul class="grid grid-cols-1 sm:grid-cols-3 gap-6 max-w-2xl">
        <li
          class="border-[0.5px] border-gray-500 rounded-xl p-6 dark:border-white/50"
        >
          <Icon name="code" size={28} class="w-7 mt-3 text-gray-600" />
          <h3 class="my-4 font-semibold text-gray-700 dark:text-white">
            Lenguajes
          </h3>
          <p class="text-gray-600 text-sm dark:text-white/80">
            JavaScript, TypeScript, Python, SQL
          </p>
        </li>
        <li
          class="border-[0.5px] border-gray-500 rounded-xl p-6 dark:border-white/50"
        >
          <Picture
            src={EduIconImg}
            alt="Education icon"
            quality="low"
            formats={["webp", "jpg"]}
            class="w-7 mt-3"
          />
          <h3 class="my-4 font-semibold text-gray-700 dark:text-white">
            Educación
          </h3>
          <p class="text-gray-600 text-sm dark:text-white/80">
            Ingeniero en Sistemas por la Universidad Nacional de Loja
          </p>
        </li>
        <li
          class="border-[0.5px] border-gray-500 rounded-xl p-6 dark:border-white/50"
        >
          <Icon name="language" size={28} class="w-7 mt-3 text-gray-600" />
          <h3 class="my-4 font-semibold text-gray-700 dark:text-white">
            Idiomas
          </h3>
          <p class="text-gray-600 text-sm dark:text-white/80">
            Español (Nativo), Inglés (Intermedio)
          </p>
        </li>
      </ul>
      <!-- <h4 class="my-6 text-gray-700 dark:text-white/80">Tools i use</h4>
      <ul class="flex items-center gap-3 sm:gap-5">
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/vscode.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/firebase.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/mongodb.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/figma.png" alt="" class="w-5 sm:w-7" />
        </li>
        <li
          class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-400 rounded-lg cursor-pointer hover:-translate-y-1 duration-500"
        >
          <img src="/images/git.png" alt="" class="w-5 sm:w-7" />
        </li>
      </ul> -->
    </div>
  </div>
</SectionContainer>
