---
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
---

<SectionContainer
  id="contact"
  class="bg-[url('/images/footer-bg-color.png')] bg-no-repeat bg-[lenght:90%_auto] bg-center dark:bg-none"
>
  <TitleSection
    title="Get in touch"
    subtitle="Connect with me"
    description="I'd love to hear from you! If you have any questions, comments or feedback, please use the form below."
  />
  <form action="" class="max-w-2xl mx-auto">
    <div class="grid grid-cols-2 gap-6 mt-10 mb-8">
      <input
        type="text"
        placeholder="Enter your name"
        class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white dark:bg-darkTheme dark:border-white/90 dark:text-white"
      />
      <input
        type="email"
        placeholder="Enter your email"
        class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white dark:bg-darkTheme dark:border-white/90 dark:text-white"
      />
    </div>
    <textarea
      rows="6"
      placeholder="Enter your message"
      class="w-full p-4 outline-none border-[0.5px] border-gray-400 rounded-md bg-white mb-6 dark:bg-darkTheme dark:border-white/90 dark:text-white"
    ></textarea>
    <button
      class="py-3 px-8 w-max flex items-center justify-between gap-2 bg-black/80 text-white rounded-full mx-auto cursor-pointer hover:bg-black duration-500 dark:bg-transparent dark:border-[0.5px] dark:hover:bg-darkTheme"
      >Submit now <img
        src="/images/right-arrow-white.png"
        alt=""
        class="w-4"
      /></button
    >
  </form>
</SectionContainer>
