---

---

<footer
  class="mt-20 text-center sm:flex items-center justify-between border-t border-gray-400 mx-[10%] py-6"
>
  <p>Jonnathan Espinoza</p>
  <ul class="flex items-center gap-10 justify-center mt-4 sm:mt-0">
    <li><a href="#">GitHub</a></li>
    <li><a href="#">LinkedIn</a></li>
  </ul>
</footer>
